@font-face {
    font-family: exo;
    src: url(exo.otf);
}


button {
    background-color: black;
    color: rgb(92, 214, 255);
    border-color: #083639;
    border-style: solid;
}


#hud {
    border: solid;
    border-radius: 10px;
    width: 95vmax;
    height: 90vmin;
    padding: 1em;
    position: relative;
}

#clock {
    height: calc(min(40px, 25%));
    font-size: 160%;
}

body {
    font-family: exo;
    /*font-size: 10px;*/
    background-color: black;
    color: rgb(92, 214, 255);
    /**text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,   **/
    /**1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #fff;         **/
}

video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    
}

.termvision {
    filter: grayscale(100%) contrast(255%) brightness(170%);
}


.nightvison {
    filter: brightness(75) hue-rotate(180deg) ;
}


#overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -50;
    width: 100%;
    height: 100%;
}

.bottom {
    position: absolute;
    bottom:   10px;    
}

#IframeMap {
    position: absolute;
    right: 10px;
    top: 10px;
}

#weatherl {
    position: absolute;
    bottom: 2px;
    text-align: center;
    width: 100dvw ;
}