@font-face {
    font-family: exo;
    src: url(exo.otf);
}

button {
    background-color: black;
    color: rgb(92, 214, 255);
}


#hud {
    border: solid;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    padding: 1em;
}

#clock {
    height: 25%;
    font-size: 120%;
}

body {
    font-family: exo;
    font-size: 10px;
    background-color: black;
    color: rgb(92, 214, 255);
}

video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -50;
    width: 100%;
    height: 100%;
}